<app-header titulo="Date"></app-header>

<ion-content>



  <ion-list>

    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
  
    </ion-list-header>

    <ion-item>
      <ion-label>Fecha nacimiento</ion-label>
      <ion-datetime [value]="fechaNaci.toISOString()" display-format="dd/mm/yyyy" (ionChange)="cambioFecha($event)"> </ion-datetime>
    </ion-item>

    
    <ion-datetime-button datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" min="2020-01-12" max="2025-01-01"></ion-datetime>
      </ng-template>
    </ion-modal>



  </ion-list>
</ion-content>
