<app-header titulo="Cards" ></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>


  <ion-card >
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloribus voluptas veniam earum officiis aspernatur laboriosam deserunt velit voluptatibus, nemo at quas dolor aut voluptates deleniti alias, necessitatibus expedita corporis!
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-img src="https://files.123inventatuweb.com/acens74680/image/pepebenavente2.jpg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloribus voluptas veniam earum officiis aspernatur laboriosam deserunt velit voluptatibus, nemo at quas dolor aut voluptates deleniti alias, necessitatibus expedita corporis!
    </ion-card-content>
  </ion-card>

</ion-content>
